<% const timeAgo=(time)=> {
    const currTime = new Date().getTime();
    let result = currTime - time;
    if (result < 1000) { result=result + 'ms' ; } else if (result>= 1000 && result < 60000) { result=Math.floor(result /
            1000) + 's' ; } else if (result>= 60000 && result < 360000) { result=Math.floor(result / 1000 / 60)
                + ' minutes' ; } else if (result>= 360000 && result < 8640000) { result=Math.floor(result / 1000 / 60 /
                    60) + ' hours' ; } else if (result>= 8640000) {
                    result = Math.floor(result / 1000 / 60 / 60 / 24) + ' days';
                    }
                    return result;
                    }; %>

                    <div class="messages-board">
                        <div class="messages-container">
                            <ul class="messages">
                                <% for (let i=0; i < messages.length;i++) {%>
                                    <% const message=messages[i];let timestamp=message.added.getTime();%>
                                        <li class="message">
                                            <div class="user-and-date">
                                                <div class="username">
                                                    <span>
                                                        <%= message.user %>
                                                    </span>
                                                </div>
                                                <div class="msg-creation-date">
                                                    <span>
                                                        <%= timeAgo(timestamp)+' ago' %>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="open-msg">
                                                <a href="/messages/<%= i + 1 %>">OPEN</a>
                                            </div>
                                        </li>
                                        <%} %>
                            </ul>
                        </div>
                    </div>