<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <%- include('header') %>
            <main>
                <div class="messages-board">
                    <div class="messages-container">
                        <form method="post" action="/new">
                            <textarea name="text" placeholder="Write Your Messages"></textarea>
                            <input type="text" name="user" placeholder="Write Your Name">
                            <button type="submit">SEND</button>
                        </form>
                    </div>
                </div>
            </main>
            <%- include('footer') %>
    </div>
</body>

</html>